<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-button routerLink="/tabs/tab1/subpage">Link to subpage1 - routerlink</ion-button>
<ion-button (click)='subpage()'>Link to subpage1 - navigatebyURL</ion-button>
<ion-button (click)='subpage2()'>Link to subpage2 - navigatebyURL</ion-button>
</ion-content>
